$canvas: #f7f7fc;
$primary: #0063f7;
$primary-bg: #0063f7;
$primary-color: #ffffff;
$general-bg-white: #ffffff;
$primary-weak: #eff5ff;
$primary-strong: #0053ce;
$success: #00a455;
$success-weak: #eefff7;
$success-strong: #017a40;
$info: #1be7ff;
$info-strong: #1bc8ff;
$warning: #ffc700;
$warning-weak: #fffae8;
$warning-strong: #b99000;
$danger: #ff0022;
$danger-weak: #fff2f4;
$danger-strong: #c0001a;
$dark-weak: #f7f7fc;
$dark: #14142b;
$dark-thin: #14142b08;
$general-header-weak: #14142b;
$general-label: #6E7191;
$general-label-hover: #64748b;
$general-placeholder: #A0A3BD;
$general-grey: #A0A3BD;
$primary-bg-strong: #d6eeff;
$general-body: #4E4B66;
$general-line: #d9dbe9;
$general-input: #EFF0F6;
$content-max-width: 1360px;
$pre-color: rgb(31, 35, 40);
$pre-bg-color: rgb(246, 248, 250);